body{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: repeat(1,60px) repeat(4,170px) repeat(1,40px) ;
    gap: 10px;
}

.header{
    color: white;
    padding-left: 20px;
    grid-column-start:1;
    grid-column-end: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(58, 58, 52, 0.909);
}
.header > h1{
    font-size: x-large;
}
.links{
    margin-right: 20px;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    color: white;
    text-decoration: none;
}
.side-bar{
    background-color: rgb(186, 6, 6);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 30px;
    padding: 10px;
}
.side-bar > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.image{
    border-radius: 15px;
}
.main-container{
    grid-column-start:2 ;
    grid-column-end:6 ;
    grid-row-start: 2;
    grid-row-end: 6;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

.second-container{
    background-color: rgba(224, 224, 224, 0.821);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin-right: -30px;
    padding: 10px;
}
.second-container > div{
    box-shadow: 5px 5px 5px 0 rgb(216, 215, 215);
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 5px;
    width: 90%;
}
h1{
    font-size: 1em;
    text-align: center;
}
.article-filtering{
    background-color: rgb(186, 6, 6);
    grid-column-start: 1;
    grid-column-end: 5;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: rgb(202, 199, 199);
    background-color:  rgba(58, 58, 52, 0.909);;
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 6;
}
.developer{
    font-family: cursive;
}